@tailwind base;
@tailwind components;
@tailwind utilities;

.blink {
      animation: blinker .95s linear infinite;
      color: red;
      font-family: sans-serif;
      text-align: center;
      font-size: larger;
      font: bold;

}

.dontblink {
      color: purple;
      font-family: sans-serif;
      text-align: center;
      font-size: larger;
      font: bold;
}

@keyframes blinker {
      50% {
            opacity: 0;
      }
}


.dropdown {
      position: relative;
      display: inline-block;
}

.dropdown-toggle {
      background-color: #e3f2fd;
      color: cornflowerblue;
      padding: 8px;
      border-radius: 15px;
      min-width: 10rem;
      font-size: 18px;
      font-weight: 600;
}

.dropdown-menu {
      position: absolute;
    top: 90%;
    /* left: 23px; */
    /* min-width: 103px !important; */
    background-color: #ffffff;
    list-style-type: none;
    padding: 0;
    /* border-radius: 20px; */
    /* margin: 0; */
    /* display: none;*/
}

.dropdown-menu li {
      padding: 10px;
}

.dropdown-menu li:hover {
      background-color: #ddd;
}

.dropdown:hover .dropdown-menu {
      display: block;
}